tqdm
pylint
yacs
pillow
future
pycocotools
pandas
tensorboard
ipython
Cython==0.27.3
yapf==0.28.0
opencv-python==3.4.7.28
numpy==1.16.0
torch==1.1.0
torchvision==0.3.0
colorama==0.3.7
numba==0.49.1
matplotlib
wget
shapely==1.7.0
scipy==1.2.1
loguru==0.4.1
scikit-image
